@import "~normalize.css";
@import "fonts.css";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.logo {
  background-image: url("../assets/logo.jpg");
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.code {
  color: crimson;
}
